.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  height: 100%;
  max-width: 100%;
  margin-top: 80px;
  overflow: hidden;
  margin-right: 12px;
}

.left-side {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 0.8;
}

.avatar-img {
  display: block;
  background-image: url(../../assets/johnlino.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  transition: all .3s ease-in-out;
  box-shadow: 0 .5rem 1rem #00000026!important;
  border: 3px solid #323232;
  padding: 10px;
}

h1 {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  text-shadow: 1px 1px 1px #323232;
  color: #323232;
  font-size: 2rem;
  white-space: nowrap;
  margin-bottom: 0;
}

h3 {
  font-family: 'Courier Prime', monospace;
  font-weight: 200;
  font-size: 1.2rem;
  color: #323232;
  margin-top: 10px;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  text-align: center;
  padding: 0;
  margin-bottom: 20px;
}

li {
  display: inline-block;
}

li i {
  font-size: 2rem;
  margin-bottom: 5px;
}

.right-side {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.welcome-msg {
  font-family: 'Karla', sans-serif;
  font-size: 1.8rem;
  margin-top: 60px;
  margin-bottom: 30px;
}

.intro-message {
  font-family: 'Karla', sans-serif;
  font-size: 1.5rem;
  text-align: justify;
  max-width: 100%;
  margin-top: 20px;
}

.indent-2 {
  text-indent: 1em;
}

.socials {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-top: 150px; 
}

.social-icons {
  text-align: center;
}

.social-link {
  color: black;
  margin: 10px;
  font-size: 2.5rem;
}

@media (max-width: 986px) {
.header-container {
  flex-direction: column;
  grid-gap: 10px;
}

.avatar-img {
  width: 150px;
  height: 150px;
  max-width: 100%;
}

ul {
  margin-right: 10px; 
}

.intro-message {
  font-size: 1.5rem;
}

.right-side {
  max-width: 100%;
}
}


@media (max-width: 680px){

.header-container {
  flex-direction: column;
}

.avatar-img {
  width: 120px;
  height: 120px;
  max-width: 100%;
}

ul {
  margin-right: 15px;
}

li i {
  font-size: 30px;
}

.welcome-msg {
  font-size: 1.5rem;
}

.intro-message {
  font-size: 1.1rem;
}
}

@media (max-width: 500px) {
.header-container {
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.avatar-img {
  width: 140px;
  height: 140px;
  max-width: 100%;
}

h1 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1rem;
}

ul {
  margin-right: 10px; 
}

li i {
  font-size: 20px;
}

.right-side {
  max-width: 100%;
}

.welcome-msg {
  font-size: 1.2rem;
  margin-top: 30px;
  margin-bottom: 20px;
}
}

